<style>
    body::-webkit-scrollbar {
        display: none;
    }
    
    /* Hide scrollbar for IE, Edge and Firefox */
    .body {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
    
    
    /* first part of homepage css*/
    
      .herocenterimage
    {
    background-color:#ffffff;
    height:100%;
    width:100%;
    padding:0px;
    border-style:hidden;
    outline:none;
    position:absolute;
    }
    .background
    {
    background-color:#274c77;
    height:100%;
    width:100%;
    }
    #browser
    {
    width:55%;
    height:65%;
    left: 1%;
    top: 0%;
    position:absolute;
    margin-top:5%;
    }
    .group
    {
    left:40%;
    top:70%;
    position:absolute;
    }
    .content
    {
    top:10%;
    left:20%;
    position:absolute;
    }
    .buttonprimary
    {
    background-color:#ffffff;
    height:5%;
    width:20%;
    padding:0px;
    border-style:hidden;
    outline:none;
    top: 212px;
    left:307px;
    position:absolute;
    text-align: center;
    }
    .background3
    {
    background-color:#ffffff;
    height:60px;
    width:240px;
    filter:drop-shadow(0px 8px 4px rgba(0,0,0,0.25));
    border-radius:5px;
    }
    .text
    {
    color:#274c77;
    text-align:center;
    vertical-align:text-middle;
    font-size:18px;
    font-family:Ubuntu;
    left:25px;
    top:20px;
    width:191px;
    height:21px;
    position:absolute;
    line-height:auto;
    border-style:hidden;
    outline:none;
    }
    .subtitle
    {
    color:rgba(255, 255, 255, 0.5);
    text-align:center;
    vertical-align:text-middle;
    font-size:17px;
    font-family:Ubuntu;
    left:167px;
    top:73px;
    width:506px;
    height:51px;
    position:absolute;
    line-height:140.625px;
    border-style:hidden;
    outline:none;
    }
    .title2
    {
    color:#ffffff;
    text-align:center;
    vertical-align:text-middle;
    font-size:48px;
    font-family:Ubuntu;
    left:36px;
    top:18px;
    width:787px;
    height:56px;
    position:absolute;
    line-height:auto;
    border-style:hidden;
    outline:none;
    }
    footer{
      style= position: relative;
      margin-top: 60%;
    }
    </style>