<div style="opacity: 1; mix-blend-mode: normal; background-color: transparent; border-style: solid; align-items: inherit; align-items: flex-start; align-items: flex-start; align-items: flex-start; justify-content: flex-start">
    <div style="opacity: 1; mix-blend-mode: normal; align-items: inherit">
        <p style="line-height: undefined; letter-spacing: 0%; text-transform: none; text-align: center; vertical-align: middle; font-family: Ubuntu; font-size: 48px; color: rgba(255, 255, 255, 1); font-weight: 500; width: 100%">
            Find All Your FRQs In One Place
        </p>
        <p style="line-height: 140.625%; letter-spacing: 0%; text-transform: none; text-align: center; vertical-align: middle; font-family: Ubuntu; font-size: 18px; color: rgba(255, 255, 255, 0.5); font-weight: 400; width: 100%">
            Learn how to ace your AP CSA test with our interactive features!
        </p>
        <div style="position: absolute; left: 50%; transform: translateX(-50%); opacity: 1; mix-blend-mode: normal; background-color: transparent; border-style: solid; align-items: inherit; align-items: flex-start; align-items: flex-start; align-items: flex-start; justify-content: flex-start">
            <p style="line-height: undefined; letter-spacing: 0%; text-transform: none; text-align: center; vertical-align: middle; font-family: Ubuntu; font-size: 18px; color: rgba(39, 76, 119, 1); font-weight: 400; width: 100%">
                Start
            </p>
            <div style="box-shadow: 0px 8px 4px  rgba(0, 0, 0, 0.2) ; width: 100%; height: 100%; width: 100%; height: 100%; opacity: 1; mix-blend-mode: normal; border-style: solid; border-style: solid; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; align-items: inherit; border-radius: 5px"></div>
        </div>
    </div>
    <div style="opacity: 1; mix-blend-mode: normal; border-style: solid; border-style: solid; align-items: inherit"></div>
    <div style="opacity: 1; mix-blend-mode: normal; align-items: inherit">
        <div style="opacity: 1; mix-blend-mode: normal; align-items: inherit"></div>
        <div style="opacity: 1; mix-blend-mode: normal; border-color: rgba(NaN, NaN, NaN, undefined); border-width: 2px; border-style: solid; border-style: solid; border-top-left-radius: 36px; border-top-right-radius: 36px; border-bottom-left-radius: 36px; border-bottom-right-radius: 36px; align-items: inherit; border-radius: 36px"></div>
    </div>
</div>