---
---

@import "{{ site.theme }}";

$color-primary: #76B041;
$color-secondary: #FFC914;

/* "row style" is flexible size and aligns pictures in center */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap');


html, body, nav, {
  background: rgba(39,76,119,255);
  color:white;
}

.row {
    align-items: center;
    display: flex;
  }
  
/* "column style" is one-third of the width with padding */
.column {
  flex: 33.33%;
  padding: 5px;
}

.wrapper, section {
  max-width: 800px;
}

a {
  color: $color-primary;
}

h1, h2, h3, h4, h5, h6 {
  color: $color-secondary;
}