    .container2 {
  position: relative;
  width: 500px;
  height: 300px;
  border: 1px solid #000;
  overflow: hidden;
    }
    .frogs {
  position: absolute;
  width: 100px;
  height: 100px;
  background-size: cover;
  left: 0;
  bottom: 0;
  animation: jump 2s infinite linear;
    }
    @keyframes jump {
  0% {
    left: 0;
    bottom: 0;
    transform: rotate(0deg);
    opacity: 100%;
  }
  
  20% {
    left: 100px;
    bottom: 90px;
    transform: rotate(-25deg);
    opacity: 100%;
  }
  40% {
    left: 200px;
    bottom: 125px;
    transform: rotate(0deg);
    opacity: 100%;
  }
  60% {
    left: 300px;
    bottom: 90px;
    transform: rotate(25deg);
    opacity: 100%;
  }
  80% {
    left: 400px;
    bottom: 0;
    transform: rotate(0deg);
    opacity: 100%;
  }
  80.1%{
    opacity: 0%;
  }
  99.99%{
    opacity: 0%;
  }
  100% {
    left: 0;
    bottom: 0;
    opacity: 100%;
  }
}